body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Manrope, sans-serif;
    background-color: #FFFFFF;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    font-size: 50px;
}
.header {
    margin-top: 30px;
    color: #171516;
    font-size: 24px;
}

.op {
    margin-top: 30px;
    color: #171516;
    font-size: 20px;
}

.link {
    margin-top: 30px;
    margin-bottom: 80px;
    color: #171516;
    font-size: 18px;
}

.opis {
    margin-left: 25px;
    font-size: 16px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 10% 110%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .1s;
    font-weight: 700;
}

a:hover {
    background-size: 100% 3px;
}

a:visited {
    color: #171516;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .header {
        font-size: 20px;
    }

    .op {
        font-size: 18px;
    }

    .link {
        font-size: 16px;
    }

    .opis {
        margin-left: 15px;
        font-size: 14px;
    }
}